<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/form1.css}" rel="stylesheet">
<link th:href="@{/form.css}" rel="stylesheet">

<head>
<meta charset="ISO-8859-1">
<title>[[${pageTitle}]]</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
<div th:replace="home :: menu"/>

	<div class="container">
	  <div class="brand-title">Societe </div>
	
	 <div class="inputs">
		<form action="#" th:action="@{/societes}" th:object="${societe}"
			method="POST">
				
			<label> Nom Societe </label>
							<input
							type = "text"
							name = "nom_ste"
							th:field = "*{nom_ste}"
							placeholder="" 
							/>
								<label> Tel de Societe </label>
							<input
							type = "text"
							name = "tel_ste"
							th:field = "*{tel_ste}"
							placeholder="" 
							/>
				<label> Fax </label>
							<input
							type = "text"
							name = "fax_ste"
							th:field = "*{fax_ste}"
							placeholder="" 
							/>
				<label> Ville </label>
							<input
							type = "text"
							name = "ville_ste"
							th:field = "*{ville_ste}"
							placeholder="" 
							/>
						
					<label> Fournisseur </label>
							 <select th:field=*{fournisseur.cod_four} >
            <option th:each="p:${fournisseurs}"
                    th:value="${p.cod_four}"
                    th:text="${p.cod_four}">
            </option>
        </select>	
			
				<button type="submit" > Save</button>
		</form>
		
			</div>
		
		
		<a th:href = "@{/societes}"> Back to client List</a>
	</div>
</body>
</html>