<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<link th:href="@{/form1.css}" rel="stylesheet">
<link th:href="@{/form.css}" rel="stylesheet">

<head>
<meta charset="utf-8">
<title>[[${pageTitle}]]</title>

</head>
<body>
<div th:replace="home :: menu"/>

<div class="container">
<div class="brand-logo"></div>
	  <div class="brand-title">Livraison </div>
	
	 <div class="inputs">
		<form action="#" th:action="@{/livraisons/{id} (id=${livraison.num_liv})}"  th:object="${livraison}" method="POST">
			
			<!-- Add hidden form field to handle update -->
		<label> Date de Livraison </label>
							<input
							type = "text"
							name = "date_liv"
							th:field = "*{date_liv}"
							class = "form-control"
							placeholder="Entrer le nom d'article" 
							/>
			
		<label> Fournisseur</label>
							<input
							type = "text"
							name = "fournisseur"
							th:field = "*{fournisseur}"
							class = "form-control"
							placeholder="Entrer le prix unitaire" 
							/>
				
					
	
				<button type="submit" > Update </button>
		</form>
	
		
		<a th:href = "@{/livraisons}"> Back to  fournisseurs List</a>
	</div>
		</div>
	
</body>
</html>