<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<link th:href="@{/form1.css}" rel="stylesheet">
<link th:href="@{/form.css}" rel="stylesheet">

<head>
<meta charset="utf-8">
<title>[[${pageTitle}]]</title>

</head>
<body>
<div th:replace="home :: menu"/>

<div class="container">
<div class="brand-logo"></div>
	  <div class="brand-title">Article</div>
	
	 <div class="inputs">
		<form action="#" th:action="@{/client/save}" th:object="${client}" method="POST">
			
			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{codeCli}" />
						 <label>Nom</label>
			
			<input type="text" th:field="*{nomCli}" >
							 <label>Prenom</label>
				
				<input type="text" th:field="*{preCli}" >
							 <label>address</label>
				
				
				<input type="text" th:field="*{adrCli}" >
							 <label>Tele</label>
				
				<input type="text" th:field="*{telCli}" >
							 <label>Ville</label>
				
				<input type="text" th:field="*{villeCli}" >
				<button type="submit" > Update Employee</button>
		</form>
	
		
		<a th:href = "@{/Clients}"> Back to Employee List</a>
	</div>
		</div>
	
</body>
</html>